.filters_wrapper {
    background-color: #fff;
    width: 100%;
    max-width: 960px;
    vertical-align: top;
    margin: 45px auto;
}
.button_wrapper {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    z-index: 400;
    background-color: #fff;
}
.search_button_mobile {
    outline: none;
    font-size: 1.25rem;
    padding: 0.65rem 1rem;
    width: 100%;
    font-weight: bold;
    border-color: #ff7100;
    background-color: #ff7100;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
}
.second_ad_container {
    // margin: 0 auto;
    position: fixed;
    top: 45px;
    z-index: 400;
    overflow: hidden;
    text-align: center;
    width: 100%;
    // left: 50%;
    // margin-left: -50%;
    background-color: #f9f9f9;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    img {
        width: 320px;
        height: 50px;
    }
}
.ad_div {
    width: 320px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.mobile_apartment_type {
    width: 100%;
    margin-top: 73px;
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: auto;
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.11);
    list-style: none;

    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
    &::before {
        content: "";
        min-width: 15px;
    }
    &::after {
        content: "";
        min-width: 15px;
    }
}
.sub_cat_option {
    text-align: center;
    margin: 0 5px;
    height: 32px;
    white-space: nowrap;
}
.sub_cat_btn {
    padding: 0.3em 0.94em;
    font-size: 1rem;
    line-height: 1.1875rem;

    position: relative;
    border-radius: 2px;
    border: 1px solid #eee;
    // user-select: none;
    background-color: #eee;
    color: #363636;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.primary_btn {
    background-color: #ff7100;
    color: #fff;
    font-weight: bold;
}
.searchForm {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // background-color: #fff;
}
.clrear_search {
    align-self: flex-end;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: #eee;
    color: #d6d6d6;
    border: none;
    padding: 8px 15px;
    i {
        margin-left: 5px;
    }
}
// .search_by{

// }
.search_title {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 3px;
}
.search_by_buttons {
    display: flex;
    button {
        flex: 1;
        color: #363636;
        background-color: #fff;
        cursor: pointer;
        // border-left: 1px solid #ccc;
        text-align: center;
        font-size: 1rem;
        line-height: 1.1875rem;
        outline: none;
        padding: 0.8em 1em;
        border-radius: 2px;
        border: none;
        font-family: inherit;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        &:first-of-type {
            border-right: 1px solid #ccc;
        }
        &:last-of-type {
            border-left: 1px solid #ccc;
        }
    }
}
.middle_btn {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}
.active {
    background-color: #eee !important;
}
.search_input {
    outline: none;
    padding: 10px;
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
}
.label {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.search_select {
    font-size: 1rem;
    height: 50px;
    width: 100%;
    // padding: 0 10px 0 30px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    // &::-webkit-scrollbar {
    //     display: none; /* Safari and Chrome */
    // }

    //-moz-appearance: none;
    //-webkit-appearance: none;
}
.label_checkbox {
    input {
        vertical-align: middle;
    }
}
.search_proprty {
    width: 90%;
    margin: 0 auto;

    border-bottom: 1px solid #eee;
}
.proprty_type_btns {
    display: flex;
    justify-content: space-between;
}
.property_btn {
    min-width: 90px;
    min-height: 96px;
    max-width: 95px;
    height: 29vw;
    max-height: 102px;
    background-color: #fff;
    outline: none;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        margin: 5px auto;
        max-width: 60%;
        height: 40px;
        filter: grayscale(100%);
    }
}
.propery_btn_title {
    display: block;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: lighter;
}
.num_of_types {
    display: block;
    color: #999;
    font-size: 0.75rem;
    line-height: 1.25rem;
}
.active_btn {
    border-color: #ff7100;
    background-color: #ffdec5;
    .num_of_types {
        color: #ff7100;
    }
    img {
        filter: none;
    }
}
.all_property_btn {
    text-align: center;
    font-size: 0.875rem;
    text-decoration: underline;
    h3 {
        font-weight: lighter;
        cursor: pointer;
    }
}
.popUp {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 60px 0 15px;
    border-radius: 0;
    height: 100%;
    z-index: 100000;
    background-color: #fff;
}
.popup_title {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.main_pop_content {
    padding-top: 15px;
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    max-height: calc(100% - 58px);
    display: flex;
    flex-direction: column;
    // width: 90%;
    // margin: 0 auto;
}
.clear_span {
    align-self: flex-end;
    color: #ccc;
    margin-left: 10px;
}
.range_wrapper {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
.range_inputs_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.range_input {
    height: 50px;
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
    padding: 10px;
    width: 45%;
    border: 1px solid #ccc;
    background-color: #fff;
    -moz-appearance: none;
    appearance: none;
}
.seperate {
    content: "_";
    font-size: 1.5rem;
    font-weight: 100;
    color: #ccc;
    align-self: flex-start;
}
.price_range_btn {
    font-size: 0.875rem;
    font-family: inherit;
    line-height: 1.0625rem;
    margin: 0 0 15px 15px;
    white-space: nowrap;
    border-radius: 50px;
    padding: 0.8em 1.4em;
    border: 1px solid #eee;
    background-color: #eee;
    color: #363636;
    outline: none;
    text-decoration: none;
    text-align: center;
}
.price_range_btn_wrapper {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.rooms_ranger {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
.rooms_select {
    width: 45%;
}
.advance_search_mobile {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;

    button {
        outline: none;
        border: none;
        color: $myOrange;
        background-color: #fff;
        font-family: inherit;
        // font-weight: bold;
    }
}
.wide_advance {
    padding: 1rem 0 3rem 0;
}
.enterDate_wrapper {
    width: 90%;
    margin: 0 auto;
    input {
        width: 100%;
        height: 50px;
        text-align: center;
    }
}
.enterNow {
    input {
        width: 1rem;
        vertical-align: middle;
    }
}
.free_search {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 50px 0;
    input {
        width: 100%;
        height: 50px;
        border: 1px solid #ccc;
    }
}
.free_search_content {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
