.mobile_header {
    background-color: #ff7100;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    z-index: 800;
    transition: top 0.3s;
}
.mobile_header_wrapper {
    // display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    display: flex;
    height: 45px;
}
.mobile_header_left {
    height: 100%;
    min-width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    img {
        height: 25px;
        width: 90px;
    }
}
.mobile_header_right {
    color: white;
    margin-right: 20px;
    i {
        cursor: pointer;
    }
}
.back_button_mobile {
    position: absolute;
    left: 7px;
    color: #fff;
    i{
        font-size: 17px;
    }
}
.mobile_fake_search {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: #f9f9f9;
    z-index: 400;
    position: fixed;
    width: 100%;
    top: 45px;
    transition: top 0.3s;
}
.fake_search_button {
    padding: 16px 14px;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 50px;
    display: flex;
    flex-grow: 1;
    width: 100%;
    position: relative;
    color: #c0c0c0;
    justify-content: space-between;
    i {
        margin-left: 5px;
        vertical-align: middle;
    }
}
.hide_menu {
    top: -45px !important;
}
.show_menu {
    top: 0;
}
.hide_fake {
    top: 0;
}
.show_fake {
    top: 45px;
}
