
.mobile_dropdown {
    position: unset;
    box-shadow: unset;
}
.dropdown_search_mobile {
    height: 100%;
    input {
        align-self: center;
    }
}
.input_type_mobile {
    align-self: center;
}
