.property_features_wrapper {
    width: 90%;
    margin: 0 auto;
}
.mobile_advanceSearch_col {
    width: 50%;
}
.mobile_advanceSearch_row {
    flex-direction: row;
    flex-wrap: wrap;
    // flex-flow: unset;
    padding: unset;
    margin: unset;
}
